@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.loader {
    background: linear-gradient(to top right, #374151, #312e81);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader::before {
    content: "";
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 140px;
    height: 55px;
    z-index: 20;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-top: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.082);
    animation: anim2 2s infinite;
}

@keyframes anim2 {

    0%,
    100% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }
}

.loader div {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
    z-index: 10;
}

@keyframes anim {

    0%,
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-65px);
    }
}

header {
    width: 100% !important;
    max-width: 100% !important;
}

/*  */
.simple-parallax {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: -1;
    scroll-behavior: smooth;
}

/*  */
.video {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paused {
    filter: blur(3px);
}